{  :id       "123" 
      :created  #inst "2020-01-01"
      :author   "nikitonsky"
      :body     "One of the most useless and most annoying UIs in iPhone. This window pop ups on a random phone in the room if you open the case (no, not only on the phones it has been paired to—literally on any phone in proximity).
      But then it doesn’t reliably pop up when you actually need it (of course!). Sometimes I spend a few literal minutes opening and closing the case like a fool, putting airpods in or out, turning the phone on or off, in the hope it will finally show. This is stupid, because Airpods are connected via bluetooth to the phone already! I can listen for the audio, but can’t see the battery level, because, well, nobody knows why and there’s no button to press to force it to show.
      Finally, look at the size of this thing! It covers the good half of the screen, and it’s the most important half (the bottom) where you are most likely to be doing something. Somehow after 13 years Apple was convinced that volume indicator shouldn’t cover the center of the screen. Next year we will see an incoming call notification that is, well, a tiny notification instead of a whole screen. Maybe eventually they’ll figure that out for airpods too? It only needs to show two numbers, come on!"
      :pictures ["shop.jpg"]}